* {
    /*Hacemos reset*/
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*Cambiamos la letra  a todo*/
    box-sizing: border-box;








}

/*COMIENZA EL HEADER*/
.color-nav-boostrap {
    background-color: #0096c7;
}

.navbar-brand img {
    width: 150px;
    height: 150px;
}

.dropdown-item:hover {
    background-color: #0096c7;

}

.navbar-nav li:hover {
    background-color: #129dcc;
}

.navbar-nav {

    display: flex;
    margin: 15px auto;
    font-size: 20px;

}

/*FIN HEADER*/
/*COMIENZO DEL MAIN-INDEX*/
.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.carousel-padre {
    margin: 15px auto;
}

.CARROUSEL-PADRE {
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;
}

.ancho-carrousel {
    width: 50vw;
}





.compartir {
    background-color: white;
    text-align: center;
    width: 500px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 5px 8px 12px black;
    font-size: 20px;
    color: black;
    position: absolute;
    top: 132%;
    left: 35.5%;
    transform: translate(-50%, -50%);
    padding: 5px;


}

.conectarse {
    background-color: white;
    text-align: center;
    width: 500px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 5px 8px 12px black;
    font-size: 20px;
    color: black;
    position: absolute;
    top: 132%;
    left: 64.5%;
    transform: translate(-50%, -50%);
    padding: 5px;


}
.imagenes-index {
    display: flex;
    justify-content: center;
}

.imagenes-index img {
    width: 500px;
    height: 500px;
    margin: 20px;
}

.destacados {
    text-align: center;
    font-size: 2em;


}

.productos-destacados img {
    width: 300px;
    margin-top: 15px;
    height: 330px;
}

.productos-destacados img:hover {
    color: black;
    transform: rotate(-5deg);
}

.productos-destacados {
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px auto;
    width: 70vw;
}

.boton-productos {
    text-align: center;
    margin-top: 40px;


}

.btn-primary {
    background-color: rgb(47, 47, 110);
    padding: 10px;
}

.dos-imagenes {
    width: 65vw;

    justify-content: center;
    margin-left: 300px;


}

.dos-imagenes img {
    width: 100%;
    justify-content: center;
    margin: 15px;
    height: 700px;


}

/*FIN DEL MAIN-INDEX*/


/*COMIENZA LA PAGINA DE CONTACTO*/
.main {
    background-color: #00b4d8;
}

.h2-contacto {
    text-align: center;
    width: 700px;
    margin: 0px auto;
    padding: 20px;

}

.formulario {
    text-align: center;
    padding-top: 20px;
}

.input-formulario {
    border-radius: 15px;
    box-shadow: 5px 8px 12px black;
    width: 50vw;
    margin: 30px;
    padding: 10px;
    background-color: #ade8f4;
}

.contacto {
    margin-top: 20px;
    text-align: center;
    background-color: aqua;
    width: 25vw;
    height: 50px;
    margin-left: 800px;
    padding-top: 5px;
    flex-wrap: wrap;

}

.informacion {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}





/*COMIENZO DEL FOOTER*/

.footer {
    grid-area: footer;
    background-color: #ade8f4;
    max-width: 100vw;
    height: 100%;
    margin-top: auto;

}

.footer a {

    margin: 0px 15px;
    display: inline-block;
    font-size: 25px;
}

.footer a:hover {
    background-color: rgb(193, 193, 218);
    font-size: 2em;
}

.seguinos {
    margin-left: 20px;
    margin-top: 10px;
}

.wsp {
    margin-left: 20px;
}

.contactanos {
    margin-left: 20px;
}







a {
    text-decoration: none;
    list-style: none;
    /*Le saco el subrayado a las etiquetas que estan en mi navbar*/

}




/*.mainNosotros {
    background-color: blueviolet;
    flex-wrap: wrap;
}
.mainBombillas {
    background-color: blueviolet;
}
.mainContacto {
    background-color: blueviolet;
    flex-wrap: wrap;
}
.mainMates {
    flex-wrap: wrap;
} ---> observar que a todos estos main le puse lo mismo, les puedo designar solo una clase y listo*/


/*MEDIAS QUERY, MOBILE FIRST=min-width-->EN MOVIL*/
/*Dispositivos medianos*/