* {
    /*Hacemos reset*/
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*Cambiamos la letra  a todo*/
    box-sizing: border-box;
   








}

/*COMIENZA EL HEADER*/

.color-nav-boostrap {
    background-color: #0096c7;
    
}

.navbar-brand img {
    width: 150px;
    height: 150px;
}

.dropdown-item:hover {
    background-color: #0096c7;

}

.navbar-nav li:hover {
    background-color: #129dcc;
}

.navbar-nav {

    display: flex;
    margin: 15px auto;
    font-size: 20px;

}

/*FIN HEADER*/
/*COMIENZO DEL MAIN-INDEX*/
.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.carousel-padre {
    margin: 15px auto;
}

.CARROUSEL-PADRE {
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;
}

.ancho-carrousel {
    width: 50vw;
}





.compartir {
    background-color: white;
    text-align: center;
    width: 500px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 5px 8px 12px black;
    font-size: 20px;
    color: black;
    position: absolute;
    top: 132%;
    left: 35.5%;
    transform: translate(-50%, -50%);
    padding: 5px;


}

.conectarse {
    background-color: white;
    text-align: center;
    width: 500px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 5px 8px 12px black;
    font-size: 20px;
    color: black;
    position: absolute;
    top: 132%;
    left: 64.5%;
    transform: translate(-50%, -50%);
    padding: 5px;


}

.imagenes-index {
    display: flex;
    justify-content: center;
}

.imagenes-index img {
    width: 500px;
    height: 500px;
    margin: 20px;
}

.destacados {
    text-align: center;
    font-size: 2em;
    transition:0.5s;
    width: 300px;
    margin:0 auto;


}
.destacados:hover{
    background-color:bisque;
    transform: translateX(250px) rotate(360deg) skew(35deg) scale(2);
}
.productos-destacados img {
    width: 300px;
    margin-top: 15px;
    height: 330px;
}

.productos-destacados img:hover {
    color: black;
    transform: rotate(-5deg);
}

.productos-destacados {
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px auto;
    width: 70vw;
}

.boton-productos {
    text-align: center;
    margin-top: 40px;


}

.btn-primary {
    background-color: rgb(47, 47, 110);
    padding: 10px;
}

.dos-imagenes {
    width: 50vw;

    justify-content: center;
    margin-left: 300px;
    margin-bottom: 5px;


}

.dos-imagenes img {
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    height: 700px;


}

/*FIN DEL MAIN-INDEX*/


/*COMIENZA LA PAGINA DE CONTACTO*/
.main {
    background-color: #00b4d8;
}

.h2-contacto {
    text-align: center;
    width: 700px;
    margin: 0px auto;
    padding: 20px;
    background-color: rgb(159, 219, 219);
    animation-name: girando; /*Vinculo la animacion que hice con el nombre que elegi*/
    animation-iteration-count: 1; /*Cuantas veces se va a repetir la animacion*/
    animation-duration: 5s; 

}
@keyframes girando{
    0%{
        transform: rotate(0deg) translateX(100px);
    }
    25%{
        transform: rotate(45deg); /*tiempo 25*/
    }
    50%{
        transform: rotate(180deg) translateX(100px);
    }
    75%{
        transform: rotate(260deg);
    }
    100%{
        transform: rotate(360deg) translateX(100px);
    }

}

.formulario {
    text-align: center;
    padding-top: 20px;
}

.input-formulario {
    border-radius: 15px;
    box-shadow: 5px 8px 12px black;
    width: 30vw;
    margin: 30px;
    padding: 10px;
    background-color: #ade8f4;
}

.contacto {
    margin-top: 20px;
    text-align: center;
    background-color: aqua;
    width: 25vw;
    height: 50px;
    margin-left: 800px;
    padding-top: 5px;
    flex-wrap: wrap;

}

input:focus{
    background-color:aqua;
}
input[type=text]::placeholder{
    text-align:  center;
   
}
input[type=number]::placeholder{
    text-align: center;
  
}
input[type=email]::placeholder{
    text-align: center;
  
}

.informacion {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}





/*COMIENZO DEL FOOTER*/

.footer {
    width: 100%;
    background-color: #129dcc;



}

.grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}

.caja figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.caja figure img {
    width: 250px;

}

.caja h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.caja p {
    color: #efefef;
    margin-bottom: 10px;

}

.redes-sociales a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all .3s ease;
    margin-left: 35px;

}

.redes-sociales a:hover {
    background-color: rgb(193, 193, 218);
    font-size: 2em;

}









a {
    text-decoration: none;
    list-style: none;
    /*Le saco el subrayado a las etiquetas que estan en mi navbar*/

}

/*COMIENZO DE LA PAGINA MATESPAMPA.HTML*/
.cartas-imagenes-uno {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 15px;

}

.cartas-imagenes-dos {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.cartas-imagenes-uno img {
    width: 100%;
    height: 100%;


}

.cartas-imagenes-dos img {
    width: 100%;
    height: 100%;
}

.card-text {
    font-size: 20px;
    text-align: center;


}

.precio {
    text-align: center;
    font-size: 25px;
}

.infoPampa {
    display: flex;
}

.infoPampa h3 {
    padding-top: 25px;
    padding-left: 15px;
}



/*COMIENZO DE LA PAGINA NOSOTROS.HTML*/
.boton-productos-PAMPA {
    padding: 20px;

}

.quienesSomos {
    text-align: end;
    padding-top: 20px;
    padding-right: 450px;
    font-size: 45px;

}

.imagenes-parrafos {
    display: flex;
    justify-content: start;

}

.imagenes-parrafos img {
    width: 700px;
    height: 500px;
    padding-left: 15px;

}

.parrafos {
    padding: 50px;
    text-align: center;
    justify-content: center;
    font-size: 35px;
}

/*COMIENZA PAG DE DISEÑO*/
.h1-diseños {
    text-align: center;

}

.diseño {
    display: flex;
    padding-left: 20px;
    box-shadow: 5px 8px 12px black;
    padding-top: 15px;
}

.i-diseño {
    padding-top: 10px;
    padding-left: 15px;
    justify-content: center;
}
/*Responsive design*/
@media(min-width:360px) and (max-width:990px){ /*Esto va desde los 360px hasta los 990px*/
    .color-nav-boostrap {
        background-color: yellowgreen;
    }
    .imagenes-index {
        display: flex;
        justify-content: center;
        
    }
    
    .imagenes-index img {
        width: 130px;
        height: 130px;
        margin: 20px;
    }
    .compartir {
        background-color: white;
        text-align: center;
        width: 500px;
        height: 30px;
        border-radius: 10px;
        box-shadow: 5px 8px 12px black;
        font-size: 20px;
        color: black;
        position: absolute;
        top: 132%;
        left: 35.5%;
        transform: translate(-50%, -50%);
        padding: 5px;
        display: none; /*Elimino los textos*/
    
    
    }
    
    .conectarse {
        display: none; /*Elimino los textos*/
        background-color: white;
        text-align: center;
        width: 130px;
        height: 30px;
        border-radius: 10px;
        box-shadow: 5px 8px 12px black;
        font-size: 10px;
        color: black;
        position: absolute;
        top: 61%;
        left: 30%;
        transform: translate(-50%, -50%);
        padding: 5px;
    
    
    }
    .productos-destacados img {
        width: 100%; /*El 100% del contenedor*/
        margin-top: 15px;
        
        height: 330px;
    }
    .productos-destacados {
        flex-wrap: wrap;
        width: 90vw;
    }
    .dos-imagenes {
        width: 50vw;
    
        justify-content: center;
        margin-left: 100px;
    
    
    }
    
    .dos-imagenes img {
        width: 100%;
        justify-content: center;
        margin-top: 15px;
        height: 300px;
    
    
    }
    
       
    
    
    
    .footer {
        width: 100%;
        background-color:aqua;
    
    
    
    }
    
    .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    
    }
    
    .caja figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .caja figure img {
        width: 100px;
        height: 100px;
        
    
    }
    
    .caja h2 {
        color:black;
        margin-bottom: 25px;
        margin-left: 25px;
        font-size: 15px;
        transform: translateY(-50px);
        height: 30px;

    }
    .caja i{
        transform: translateY(-30px);
        margin-left: 20px;
    }
    
    .caja p {
        color: #efefef;
        margin-bottom: 10px;
    
    }
    
    .redes-sociales a {
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
        transition: all .3s ease;
        margin-left: 35px;
        transform: translateY(-50px);
    
    }
    .h2-contacto {
        text-align: center;
        width: 300px;
        margin: 0px auto;
        padding: 20px;
    
    }
    input[type=text]::placeholder{
        justify-content: center;
        font-size: 10px;
    }
    input[type=number]::placeholder{
        text-align: center;
        font-size: 10px;
    }
    input[type=email]::placeholder{
        text-align: center;
        font-size: 10px;
    }
}
   
   
    
   

